@use "_variables.scss" as *;

// для файлов в папке src/routes/(home)

.homeTextPage {
  color: $clr-text-main;
  line-height: 1.4rem;

  margin: 0 auto;
  max-width: 100vmin;
  min-height: 100vh;
  margin-bottom: 25px;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 10px;

  background-image: $grad-block;
  box-shadow: 0px 0px 8px 4px rgba($clr-teal-rgb, 0.75);
}


.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  color: $clr-text-accent;

  .headerSlogan {
    font-size: 3rem;
    display: inline-block;
  }
}

@media (max-height: 500px) and (orientation: landscape),
(max-width: 500px) and (orientation: portrait) {
  .headerSlogan {
    font-size: 2rem;
  }
}

.homeTextPage {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;
}

// Карточка

.card {
  background: $clr-bg-card;

  border-radius: 16px;

  padding: 1rem 1.25rem;

  box-shadow: $shadow-card;

  &:hover {
    box-shadow: $shadow-neon-mint;
    transition: all .35s;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
  }
}


// Заголовок карточки

.installPage h2,
.card h2 {
  font-size: 1.5rem;
  color: $clr-pink;

  margin-bottom: 0.75rem;
}

// Списки

.installPage h2,
.card ul {
  margin-top: 0.5rem;

  padding-left: 1.2rem;
}

// Элементы списка

.installPage h2,
.card li {
  margin: 0.35rem 0;
}