// src/styles/_variables.scss

// =============================================================================
// 1. ДИНАМИЧЕСКИЕ ЦВЕТА (Меняются в зависимости от темы)
// =============================================================================

/*
Если ты запишешь в тему --clr-slate: 100, 116, 139;, то ты не сможешь использовать эту переменную в чистом виде для обычного цвета (без прозрачности). Тебе придется везде писать либо rgb($clr-white), либо rgba($clr-white, 1).

Поэтому разработчики обычно создают две переменные: 
одну для обычного цвета, 
вторую — чисто из цифр для прозрачности (например, --clr-slate-rgb).

Например, 
		--clr-slate: #64748b;
		--clr-slate-rgb: 100, 116, 139; - БЕЗ rgba( !!!

тогда в компоненте можно применить прозрачность background-color: rgba($clr-white-rgb, 0.3);

Правиьно для градиентов:  
$grad-btn-main: linear-gradient(215deg, $clr-bg-dark 0%, $clr-bg 50%, $clr-bg-dark} 100%;

Золотое правило для твоего проекта:
Если ты передаешь в rgba() Sass-переменную, которая является CSS-переменной (содержит внутри var()), то пиши БЕЗ решетки: rgba($var, 0.5) (потому что для Sass это функция, которую он пропустит в браузер).

// Если ты передаешь в rgba() строку с голыми цифрами (как 0, 0, 0), то ОБЯЗАТЕЛЬНО оборачивай её в решетку: rgba(# { $var}, 0.5).
*/


:root {
	// планируется только одна цветовая тема, поэтому дублируем цвета в обе темы

	// --- DARK THEME (Default) ---
	&,
	&[data-theme='dark'] {
		--clr-bg: rgb(246, 250, 252);
		--clr-bg-rgb: 246, 250, 252;

		--clr-bg-dark: rgb(126, 231, 229);
		--clr-bg-dark-rgb: 126, 231, 229;

		--clr-bg-card: rgb(255, 230, 238);
		--clr-bg-card-rgb: 255, 230, 238;

		--clr-text-main: rgb(61, 30, 8);
		--clr-text-main-rgb: 61, 30, 8;

		--clr-text-accent: rgb(86, 43, 12);
		--clr-text-accent-rgb: 86, 43, 12;

		--clr-teal: rgb(46, 196, 199);
		--clr-teal-rgb: 46, 196, 199;

		--clr-pink: rgb(255, 143, 179);
		--clr-pink-rgb: 255, 143, 179;

		--clr-teal-soft: #86edf2;
		--clr-teal-soft-rgb: 134, 237, 242;
	}


	&[data-theme='light'] {
		--clr-bg: rgb(246, 250, 252);
		--clr-bg-rgb: 246, 250, 252;

		--clr-bg-dark: rgb(126, 231, 229);
		--clr-bg-dark-rgb: 126, 231, 229;

		--clr-bg-card: rgb(255, 230, 238);
		--clr-bg-card-rgb: 255, 230, 238;

		--clr-text-main: rgb(61, 30, 8);
		--clr-text-main-rgb: 61, 30, 8;

		--clr-text-accent: rgb(86, 43, 12);
		--clr-text-accent-rgb: 86, 43, 12;

		--clr-teal: rgb(46, 196, 199);
		--clr-teal-rgb: 46, 196, 199;

		--clr-pink: rgb(255, 143, 179);
		--clr-pink-rgb: 255, 143, 179;

		--clr-teal-soft: #86edf2;
		--clr-teal-soft-rgb: 134, 237, 242;
	}
}

// =============================================================================
// 2. СТАТИЧЕСКИЕ ЦВЕТА (Не меняются никогда) 
// =============================================================================
$clr-black: #000000;
// вместо $clr-black-rgb в стилях используем 0,0,0 

$clr-white: #ffffff;
// вместо $clr-white-rgb в стилях используем 255, 255, 255

// =============================================================================
// 3. SASS-ПЕРЕМЕННЫЕ (Связки с CSS-переменными)
// =============================================================================

$clr-bg: var(--clr-bg);
$clr-bg-rgb: var(--clr-bg-rgb);

$clr-bg-dark: var(--clr-bg-dark);
$clr-bg-dark-rgb: var(--clr-bg-dark-rgb);

$clr-bg-card: var(--clr-bg-card);
$clr-bg-card-rgb: var(--clr-bg-card-rgb);

$clr-text-main: var(--clr-text-main);
$clr-text-main-rgb: var(--clr-text-main-rgb);

$clr-text-accent: var(--clr-text-accent);
$clr-text-accent-rgb: var(--clr-text-accent-rgb);

$clr-teal: var(--clr-teal);
$clr-teal-rgb: var(--clr-teal-rgb);

$clr-pink: var(--clr-pink);
$clr-pink-rgb: var(--clr-pink-rgb);

$clr-teal-soft: var(--clr-teal-soft);
$clr-teal-soft-rgb: var(--clr-teal-soft-rgb);

$shd-mint-glow: green;
$shd-coral-glow: red;
$shd-blue-glow: blue;
$shadow-card-val: rgb(0, 255, 204);
$shadow-inset: coral;

// =============================================================================
// 4. КОМПЛЕКСНЫЕ СТИЛИ (Градиенты и Тени)
// Используем интерполяцию #{}, чтобы Sass корректно передал var() в CSS
// =============================================================================

// Градиенты 
$grad-body: linear-gradient(300deg, $clr-bg-rgb 0%, $clr-bg 50%, $clr-bg-rgb 100%);
$grad-block: linear-gradient(to top, $clr-bg , #97ebef, #afeef6, #c6f1fb, #dcf5fd, #e4f5ff, #ecf5fe, #f2f6fd, #f3f3fd, #f6eefb, #faeaf6, $clr-bg-card);



//================
//================ STOP TUT
//================
//================

$grad-btn-main: linear-gradient(215deg, $clr-bg 0%, $clr-bg 50%, $clr-teal 100%);
$grad-btn-main-inv: linear-gradient(215deg, $clr-teal 0%, $clr-bg 50%, $clr-bg 100%);
$grad-op: linear-gradient(45deg, $clr-bg 0%, #252c35 50%, #4b5768 100%);
$grad-memo: linear-gradient(45deg, $clr-teal-soft 0%, $clr-teal 50%, #4b5768 100%);

// Тени и Неон
$shadow-neon-mint: 0 0 8px var(--shd-mint-glow);
$shadow-neon-coral: 0 0 8px var(--shd-coral-glow);
$shadow-neon-blue: 0 0 8px var(--shd-blue-glow);
$shd-blue-glow: 0 0 8px var(--shd-blue-glow);

$shadow-card: var(--shadow-card-val);
$shadow-deep: 0 25px 50px -12px rgba(0, 0, 0, 0.5);

// Внутреннее неоновое свечение   
$shadow-inset: var(--shadow-inset);