// src/styles/app.scss  
// импортируется в src/routes/+layout.svelte

@use '_reset.scss';
@use "_typography.scss";
@use "_variables.scss";
@use '_layout.scss';
@use '_homePages.scss';

// Устанавливаются глобальные стили 

/* Задаем цвет фона для html, body и корневого контейнера, 
   чтобы у браузера не было прозрачных "дыр" при скролле */
html,
body {
  /* Замените на цвет фона вашего сайта */
  overscroll-behavior-y: none;
  /* Убирает лишние системные эффекты резинового скролла */
}

html {
  background: rgba($clr-bg-rgb, .95);
  scroll-behavior: smooth;
  min-height: 100%;
  /* Путь к вашей картинке */
  // background-image: url('$lib/assets/body_bg.png');

  /* Повторяем только по вертикали (Y) */
  background-repeat: repeat-y;

  /* Ширина 100vw, а высоту оставляем автоматической, чтобы не искажать пропорции */
  background-size: 100vw auto;

  /* Центрируем по горизонтали, чтобы картинка не прижималась только к левому краю */
  background-position: top center;
}

a {
  // .btn__interface - убрать синий прямоугольник (tap highlight) и другие мобильные эффекты при нажатии
  // 1. Убираем синий прямоугольник на iOS и Android (Chrome/Safari)
  -webkit-tap-highlight-color: transparent;

  // 2. Убираем рамку фокуса, которая может появляться после клика
  &:focus,
  &:active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }

  // 3. Отключаем контекстное меню при долгом нажатии (если нужно)
  // Это предотвратит всплывающее окно "Открыть в новой вкладке" на мобилках
  -webkit-touch-callout: none;
}

strong {
  color: $clr-sky;
  padding: auto 2px;
}

// src/styles/app.scss 
/* Fraction Дроби.Скрытие технических маркеров смешанных чисел и сложных скобок */
.fraction-marker,
.complex-bracket-marker {
  display: inline-block;
  width: 0;
  max-width: 0;
  overflow: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  letter-spacing: -1ch;
}

.mainInstr {
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 0.5rem;
  background-color: transparent;
  padding-bottom: 1rem;

  @media screen and (max-width: 500px) {
    padding: 1rem;
    align-items: center;
  }

  h2 {
    color: $clr-coral;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
  }

  li {
    color: $clr-white;
    margin-bottom: 0.5rem;

    &:hover {
      color: $clr-coral;
      transition: all 0.35s;
    }

    @media screen and (max-width: 500px) {
      text-align: center;
    }
  }
}